.nav-item{
  /* border: 2px solid blanchedalmond; */
  padding: 5px 20px;
  text-transform: capitalize;
  color: antiquewhite;
  margin: 15px;
}
.nav-item:hover{
  /* border: 2px solid yellow; */
  color: black;
  background-color: white;
  border-radius: 5px;
}